<div update="1.4.5" class="modal-header">
    <div class="title-wrapper">
        <h1 class="modal-title fs-5">What's New in 1.4.5</h1>
        <p class="modal-date">Feb 16, 2023</p>
    </div>
    <button type="button" class="bi bi-x btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <h2 class="added">Turbo Mode</h2>
    <p>Turbo mode allows HYS to be more aggressive in the way that it hides Shorts, at the cost
        of a little more system resource usage</p>
    <p>Enable turbo mode under Miscellaneous > Turbo</p>

    <h2 class="added">Mobile Compatibility</h2>
    <p>HYS now works for the mobile version of YouTube. Download <a href="https://kiwibrowser.com" target="_blank">Kiwi Browser</a> on Android devices and install your favorite Chrome extensions</p>
</div>
<div class="modal-footer">
    Close
</div>