<html>

<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../libs/bootstrap/bootstrap.min.css">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div class="header">
        <img id="logo" src="../assets/logo-luxury.svg">
    </div>

    <div class="toggle">
        <img id="power-btn" class="power-btn" src="../assets/power-button-on-0.svg">
    </div>

    <div class="settings">
        <div class="settings-wrapper">
            <div id="accordian">
                <ul class="accordian">
                    <li>
                        <h3 class="slidDown">Feed Pages <i class="bi bi-caret-down-fill"></i></h3>
                        <ul style="display: block;">
                            <li>
                                <div class="switch-wrapper">
                                    <p class="switch-label">Home Feed <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Hide Shorts videos on the home page"></i></p>
                                    <div class="toggle-container homefeed-container">
                                        <button class="toggle-button homefeed-toggle"></button>
                                    </div>
                                </div>
                                <div class="switch-wrapper">
                                    <p class="switch-label">Subscriptions Feed <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Hide Shorts videos on the subscription page"></i></p>
                                    <div class="toggle-container subscriptionfeed-container">
                                        <button class="toggle-button subscriptionfeed-toggle"></button>
                                    </div>
                                </div>
                                <div class="switch-wrapper">
                                    <p class="switch-label">Trending Feed <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Hide Shorts videos on the trending pages"></i></p>
                                    <div class="toggle-container trendingfeed-container">
                                        <button class="toggle-button trendingfeed-toggle"></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>Channel Page <i class="bi bi-caret-down-fill"></i></h3>
                        <ul>
                            <li>
                                <div class="switch-wrapper">
                                    <p class="switch-label">Shorts Tab <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Hide the Shorts tab on channel pages"></i></p>
                                    <div class="toggle-container tab-container">
                                        <button class="toggle-button tab-toggle"></button>
                                    </div>
                                </div>
                                <div class="switch-wrapper">
                                    <p class="switch-label">Home Tab Shorts <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Hide Shorts videos in the home tab on channel pages"></i></p>
                                    <div class="toggle-container hometab-container">
                                        <button class="toggle-button hometab-toggle"></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>Miscellaneous <i class="bi bi-caret-down-fill"></i></h3>
                        <ul>
                            <li>
                                <div class="switch-wrapper">
                                    <p class="switch-label">Shorts Nav Button <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Hide the Shorts button on the navigation panel"></i></p>
                                    <div class="toggle-container nav-container">
                                        <button class="toggle-button nav-toggle"></button>
                                    </div>
                                </div>
                                <div class="switch-wrapper">
                                    <p class="switch-label">Search Results <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Hide Shorts videos in search results"></i></p>
                                    <div class="toggle-container search-container">
                                        <button class="toggle-button search-toggle"></button>
                                    </div>
                                </div>
                                <div class="switch-wrapper">
                                    <p class="switch-label">Recommended List <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Hide Shorts videos in the recommended list on video watch pages"></i></p>
                                    <div class="toggle-container recommended-container">
                                        <button class="toggle-button recommended-toggle"></button>
                                    </div>
                                </div>
                                <div class="switch-wrapper">
                                    <p class="switch-label">Notification Menu<i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Hide notifications about Shorts in the notification menu"></i></p>
                                    <div class="toggle-container notification-container">
                                        <button class="toggle-button notification-toggle"></button>
                                    </div>
                                </div>
                                <div class="switch-wrapper">
                                    <p class="switch-label gradient-anim"><img src="../assets/turbo-mode.svg"> <b>TURBO</b><i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Boosts speed and efficiency at the cost of system resources"></i></p>
                                    <div class="toggle-container turbo-container">
                                        <button class="toggle-button turbo-toggle"></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>



        </div>
    </div>

    <div class="themes">
        <div class="color-switch">
            <i id="color-previous" class="bi bi-caret-left color-switches color-previous"></i>
            <p id="current-color" class="current-color">Loading..</p>
            <i id="color-next" class="bi bi-caret-right color-switches color-next"></i>
        </div>
    </div>

    <div class="reload">
        <p id="reloadBtn" class="reload-text"><i class="bi bi-arrow-clockwise"></i> Reload YouTube tabs</p>
    </div>

    <div id="footer" class="footer">
        <div id="footer-inner" class="footer-inner">
            <div class="footer-links">
                <a href="https://github.com/ProbablyRaging/hide-youtube-shorts" target="_blank">
                    <div class="footer-btn" data-bs-toggle="tooltip" data-bs-title="GitHub"><i class="bi bi-github"></i></div>
                </a>
                <a href="https://chrome.google.com/webstore/detail/hide-youtube-shorts/aljlkinhomaaahfdojalfmimeidofpih/support" target="_blank">
                    <div class="footer-btn" data-bs-toggle="tooltip" data-bs-title="Support"><i class="bi bi-chat-dots-fill"></i></div>
                </a>
                <a href="https://chrome.google.com/webstore/detail/hide-youtube-shorts/aljlkinhomaaahfdojalfmimeidofpih/reviews" target="_blank">
                    <div class="footer-btn" data-bs-toggle="tooltip" data-bs-title="Review"><i class="bi bi-hand-thumbs-up-fill"></i></i></div>
                </a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div update="1.4.5" class="modal-header">
                    <div class="title-wrapper">
                        <h1 class="modal-title fs-5">What's New in 1.4.6</h1>
                        <p class="modal-date">Feb 17, 2023</p>
                    </div>
                    <button type="button" class="bi bi-x btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2 class="added">Recommended List</h2>
                    <p>There is now an option to hide Shorts videos in the recommended list on video watch pages</p> 
                    <p>Enable it under the Miscellaneous tab</p>
                </div>
                <div class="modal-footer">
                    Close
                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop fade"></div>

    <!-- Scripts -->
    <script src="../libs/jquery/jquery.min.js"></script>
    <script src="../libs/popperjs/popper.min.js"></script>
    <script src="../libs/bootstrap/bootstrap.min.js"></script>
    <script src="../js/popup.js"></script>
</body>

</html>