/* Search video */
ytd-video-renderer:has(a[href*="/shorts/"]) {
    display: none !important;
}

/* Search shelf */
ytd-rich-shelf-renderer:has(#dismissible) {
    display: none !important;
}

ytd-reel-shelf-renderer:has(#dismissible) {
    display: none !important;
}

/* Mobile video */
ytm-video-with-context-renderer:has(a[href*="/shorts/"]) {
    display: none !important;
}

/* Mobile shelf */
ytm-reel-shelf-renderer:has(a[href*="/shorts/"]) {
    display: none !important;
}