/* Subscriptions video */
ytd-rich-item-renderer:has(a[href*="/shorts/"]) {
    display: none !important;
}

/*  Subscriptions shelf */
ytd-rich-shelf-renderer:has(#dismissible) {
    display: none !important;
}