<html>

<head>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../stylesheets/styles.css">
</head>

<body>
    <div class="toggle">
        <i id="toggleBtn" class="toggleBtn"></i>
    </div>
    <div class="reload">
        <p id="reloadBtn" class="reload-text">Reload page</p>
    </div>
    <div class="footer">
        <p class="footer-text"><a id="supportBtn" href="https://github.com/ProbablyRaging/hide-yt-shorts" target="_blank">Hide YouTube Shorts</a> by ProbablyRaging</p>
    </div>

    <!-- Scripts -->
    <script src="../scripts/popup.js"></script>
</body>

</html>