<html>

<head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../stylesheets/styles.css">
</head>

<body>
    <div class="toggle">
        <i id="toggleBtn" class="toggleBtn"></i>
    </div>
    <div class="reload">
        <p id="reloadBtn" class="reload-text"><i class="bi bi-arrow-clockwise"></i> Reload page</p>
    </div>
    <div class="footer">
        <p class="footer-text"><a id="supportBtn" href="https://github.com/ProbablyRaging/hide-yt-shorts" target="_blank">Hide YouTube Shorts</a> by ProbablyRaging</p>
    </div>

    <!-- Scripts -->
    <script src="../scripts/popup.js"></script>
</body>

</html>