@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    width: 242px;
    height: fit-content;
}

body {
    font-family: "Red Hat Display", sans-serif;
    color: var(--font);
    font-weight: var(--fweight);
    background-color: var(--bg);
    height: fit-content;
    margin: 0;
}

/* THEMES */
/* Dark */
.luxury {
    --mainColor: #ffff9f;
    --logo: url('../images/logo-luxury.svg');
    --bg: rgb(23, 24, 26);
    --font: #f6f6f6;
    --fweight: 400;
    --footerbg: #2b2c2e;
    --icon: #f6f6f6;
    --btngrad: linear-gradient(217deg, #cc9e36, #ffff9f, #cc9e36);
    --btnbg: rgb(85, 85, 85);
    --btnhov: brightness(1.5);
    --btndis: #838383;
    --powerglow: drop-shadow(0px 0px 13px rgb(255, 255, 159));
    --powerhov: drop-shadow(0px 0px 9px rgb(255, 255, 159));
    --ttbg: linear-gradient(217deg, #cc9e36, #ffff9f, #cc9e36);
    --ttfont: rgb(33, 33, 33);
    --ttaltbg: var(--footerbg);
    --ttaltfont: var(--font);
}

.enigma {
    --mainColor: #53b4e8;
    --logo: url('../images/logo-enigma.svg');
    --bg: rgb(27, 27, 35);
    --font: #f6f6f6;
    --fweight: 400;
    --footerbg: #323543;
    --icon: #f6f6f6;
    --btngrad: linear-gradient(217deg, #3698cc, #53b4e8, #3698cc);
    --btnbg: rgb(85, 85, 85);
    --btnhov: brightness(1.5);
    --btndis: #838383;
    --powerglow: drop-shadow(0px 0px 13px rgb(83, 180, 232));
    --powerhov: drop-shadow(0px 0px 9px rgb(83, 180, 232));
    --ttbg: #53b4e8;
    --ttfont: rgb(33, 33, 33);
    --ttaltbg: var(--footerbg);
    --ttaltfont: var(--font);
}

.scarlet {
    --mainColor: #c83349;
    --logo: url('../images/logo-scarlet.svg');
    --bg: rgb(23, 24, 26);
    --font: #f6f6f6;
    --fweight: 400;
    --footerbg: #9b2234;
    --icon: #f6f6f6;
    --btngrad: linear-gradient(217deg, #7b1625, #c83349, #7b1625);
    --btnbg: rgb(85, 85, 85);
    --btnhov: brightness(1.5);
    --btndis: #838383;
    --powerglow: drop-shadow(0px 0px 13px #9b2234);
    --powerhov: drop-shadow(0px 0px 9px #9b2234);
    --ttbg: #c83349;
    --ttfont: #f6f6f6;
    --ttaltbg: var(--footerbg);
    --ttaltfont: var(--font);
}

/* Light */
.azure {
    --mainColor: #53b4e8;
    --logo: url('../images/logo-azure.svg');
    --bg: rgb(252, 252, 252);
    --font: #212325;
    --fweight: 600;
    --footerbg: #53b4e8;
    --icon: #f6f6f6;
    --btngrad: linear-gradient(217deg, #3698cc, #53b4e8, #3698cc);
    --btnbg: rgb(226 222 222);
    --btnhov: brightness(1);
    --btndis: #838383;
    --powerglow: drop-shadow(0px 0px 13px rgb(83, 180, 232));
    --powerhov: drop-shadow(0px 0px 9px rgb(83, 180, 232));
    --ttbg: #53b4e8;
    --ttfont: #f6f6f6;
    --ttaltbg: var(--footerbg);
    --ttaltfont: #f6f6f6;
}

.blossom {
    --mainColor: #ef9fcf;
    --logo: url('../images/logo-blossom.svg');
    --bg: rgb(252, 252, 252);
    --font: #212325;
    --fweight: 600;
    --footerbg: #ef9fcf;
    --icon: #f6f6f6;
    --btngrad: linear-gradient(217deg, #e576b8, #ef9fcf, #e576b8);
    --btnbg: rgb(226 222 222);
    --btnhov: brightness(1);
    --btndis: #838383;
    --powerglow: drop-shadow(0px 0px 13px #ef9fcf);
    --powerhov: drop-shadow(0px 0px 9px #ef9fcf);
    --ttbg: #ef9fcf;
    --ttfont: #f6f6f6;
    --ttaltbg: var(--footerbg);
    --ttaltfont: #f6f6f6;
}

.eden {
    --mainColor: #8cd17d;
    --logo: url('../images/logo-eden.svg');
    --bg: rgb(252, 252, 252);
    --font: #212325;
    --fweight: 600;
    --footerbg: #6fb95f;
    --icon: #f6f6f6;
    --btngrad: linear-gradient(217deg, #90d581, #8cd17d, #90d581);
    --btnbg: rgb(226 222 222);
    --btnhov: brightness(1);
    --btndis: #838383;
    --powerglow: drop-shadow(0px 0px 13px #99e488);
    --powerhov: drop-shadow(0px 0px 9px #99e488);
    --ttbg: #8cd17d;
    --ttfont: #f6f6f6;
    --ttaltbg: var(--footerbg);
    --ttaltfont: #f6f6f6;
}

a {
    color: #f6f6f6;
}

a:hover {
    color: unset;
    filter: brightness(0.9);
}

.header {
    display: flex;
    justify-content: center;
    user-select: none;
}

.header-img {
    height: 24px;
    width: 205px;
    margin: 12px;
    margin-bottom: 0;
    background-image: var(--logo);
    background-size: contain;
}

.toggle {
    display: flex;
    justify-content: center;
    margin: 10px;
    user-select: none;
}

.power-btn {
    width: 75px;
    margin: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.power-btn.hoverable {
    filter: var(--powerglow);
}

.power-btn.hoverable:hover {
    filter: var(--powerhov);
    transform: scale(1.05);
}

.power-btn:hover {
    transform: scale(1.05);
}

.settings {
    display: flex;
    justify-content: center;
    margin: 12px;
}

.settings-switches {
    width: 100%;
}

.switch-wrapper {
    display: flex;
    align-items: center;
}

.switch-wrapper .bi {
    margin-left: 2px;
    font-size: 12px;
    color: rgb(150, 150, 150);
}

.toggle-container {
    display: inline-block;
    position: absolute;
    right: 10px;
    width: 32px;
    height: 12px;
    border-radius: 34px;
    background-color: var(--btnbg);
    cursor: pointer;
}

.toggle-container:hover .toggle-button {
    /* filter: drop-shadow(0px 0px 4px rgb(255, 255, 159)); */
    transform: scale(1.2);
}

.toggle-button {
    background: var(--btndis);
    position: absolute;
    top: -1px;
    left: 2px;
    width: 14px;
    height: 14px;
    border-radius: 30px;
    border: none;
    transition: all 0.2s ease;
    cursor: pointer;
}

.toggle-container:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.toggle-container:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    opacity: 0;
}

.toggle-button.toggled {
    left: calc(100% - 17px);
    /* background-color: #90FF97; */
    background-image: var(--btngrad);
}

.toggle-button.toggled+.toggle-container:before {
    opacity: 0;
}

.toggle-button.toggled+.toggle-container:after {
    opacity: 1;
}

.themes {
    display: flex;
    justify-content: center;
    margin: 12px;
}

.color-switch {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    align-items: center;
    padding: 0 15px;
    gap: 18px;
}

.color-switch .bi {
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.color-switch .bi:hover {
    color: var(--mainColor);
    transform: scale(1.2);
}

.reload {
    display: flex;
    justify-content: center;
}

.reload-text {
    display: none;
    color: #8d8dff;
    font-size: 12px;
    cursor: pointer;
    margin-top: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #323543;
    width: 100%;
}

.footer-inner {
    width: 100%;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #323543;
}

.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    padding: 14px;
    background: var(--footerbg);
    cursor: pointer;
    transition: all 0.2s ease;
}

.footer-btn:hover {
    filter: var(--btnhov);
}

.footer .bi {
    color: var(--icon);
    font-size: 22px;
}

.footer a {
    width: 100%;
    transition: all 0.2s ease;
}

.page-end {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-end p {
    margin: 6px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip::before {
    content: attr(tooltip);
    position: absolute;
    top: -43px;
    left: 81px;
    transform: translateX(-50%);
    background: var(--ttbg);
    color: var(--ttfont);
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
    white-space: break-spaces;
    word-wrap: break-word;
    min-width: 155px;
    z-index: 1;
}

.tooltip:hover::before {
    opacity: 1;
}

.tooltip-alt::before {
    content: attr(tooltip);
    position: absolute;
    top: -19px;
    left: 40px;
    transform: translateX(-50%);
    background-color: var(--ttaltbg);
    color: var(--ttaltfont);
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
    white-space: break-spaces;
    word-wrap: break-word;
    z-index: 1;
}

.tooltip-alt:hover::before {
    opacity: 1;
}