@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    width: 242px;
    height: fit-content;
}

body {
    font-family: "Red Hat Display", sans-serif;
    color: #f6f6f6;
    background-color: #1b1b23;
    height: fit-content;
    margin: 0;
}

a {
    color: #f6f6f6;
}

a:hover {
    color: unset;
    filter: brightness(0.9);
}

.header {
    display: flex;
    justify-content: center;
    user-select: none;
}

.header img {
    width: 220px;
    margin: 12px;
    margin-bottom: 0;
}

.toggle {
    display: flex;
    justify-content: center;
    margin: 10px;
    user-select: none;
}

.toggleBtn {
    width: 75px;
    margin: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.toggleBtn:hover {
    filter: drop-shadow(0px 0px 4px rgb(180, 180, 180));
}

.settings {
    display: flex;
    justify-content: center;
    margin: 12px;
}

.settings-switches {
    width: 100%;
}

.switch-wrapper {
    display: flex;
    align-items: center;
}

.switch-wrapper .bi {
    margin-left: 2px;
    font-size: 12px;
    color: rgb(150, 150, 150);
}

.toggle-container {
    display: inline-block;
    position: absolute;
    right: 10px;
    width: 32px;
    height: 12px;
    border-radius: 34px;
    background-color: #555;
}

.toggle-container:hover .toggle-button {
    filter: drop-shadow(0px 0px 4px rgb(255, 255, 255));
}

.toggle-button {
    position: absolute;
    top: -1px;
    left: 2px;
    width: 14px;
    height: 14px;
    border-radius: 30px;
    border: none;
    transition: all 0.2s ease;
}

.toggle-container:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.toggle-container:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    opacity: 0;
}

.toggle-button.toggled {
    left: calc(100% - 17px);
    background-color: #90FF97;
}

.toggle-button.toggled+.toggle-container:before {
    opacity: 0;
}

.toggle-button.toggled+.toggle-container:after {
    opacity: 1;
}

.reload {
    display: flex;
    justify-content: center;
}

.reload-text {
    display: none;
    color: #8d8dff;
    font-size: 12px;
    cursor: pointer;
    margin-top: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #323543;
    width: 100%;
}

.footer-inner {
    width: 100%;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #323543;
}

.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    padding: 14px;
    background: #323543;
    cursor: pointer;
    transition: all 0.2s ease;
}

.footer-btn:hover {
    filter: brightness(1.5);
}

.footer .bi {
    font-size: 22px;
}

.footer a {
    width: 100%;
    transition: all 0.2s ease;
}

.page-end {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-end p {
    margin: 6px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip::before {
    content: attr(tooltip);
    position: absolute;
    top: -43px;
    left: 81px;
    transform: translateX(-50%);
    background-color: #43475A;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
    white-space: break-spaces;
    word-wrap: break-word;
    min-width: 155px;
    z-index: 1;
}

.tooltip:hover::before {
    opacity: 1;
}