@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    width: 12px;
    background-clip: padding-box;
    border: 2px solid var(--scrollbar-track-color);
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background-color: var(--scrollbar-track-color);
  }

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 14px;
    width: 450px;
    min-width: 450px !important;
    min-height: 550px !important;
    max-height: 550px !important;
    overflow: scroll;
    background-color: var(--nextui-colors-background);
}

p {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.nextui-modal-body .added {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #7fbd86;
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.nextui-modal-body .changed {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ce9b5d;
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.nextui-modal-body .removed {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #c36262;
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.nextui-modal-body .label {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.nextui-modal-body .added::after,
.nextui-modal-body .changed::after,
.nextui-modal-body .removed::after,
.nextui-modal-body .label::after {
    background-color: currentColor;
    content: "";
    height: 1px;
    flex: 1 1 auto;
    margin-left: 4px;
    opacity: .6;
}

.nextui-modal-body ul {
    list-style-type: circle;
}

.nextui-modal-body li {
    font-size: 13px;
}

.nextui-backdrop-layer-blur {
    backdrop-filter: saturate(180%) blur(2px) !important;
}